@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -web-kit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  float: left;
  width: 100%;
  margin: 0px;
  display: block;
  font-family: "Inter", sans-serif;
  position: relative;
  z-index: 99;
}
.absolute_one{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
}
.absolute_one img{
    width: 100%;
}
.absolute_two{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -2;
}
.absolute_two img{
    width: 100%;
}
.custom_container {
  max-width: 1500px;
  margin: 0px auto;
}

/* header css */

header {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 55px 10px 0px 10px;
}
.header_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header_list figure {
  width: 230px;
  margin: 0px;
}
.header_list figure img {
  width: 100%;
}
.header_link_list {
  display: flex;
  align-items: center;
}
.header_link_list a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  margin-right: 35px;
  color: #080808;
  text-decoration: none !important;
}
.header_link_list a:last-child {
  margin-right: 0px;
}
.header_btn a {
  width: 174px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2752e7;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.header_btn_res a {
  width: 174px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2752e7;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.header_toggle_content {
  display: none;
}
a.mobile_res_toggle_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;

  color: #080808;
}
.mobile_res_toggle_content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translatex(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  width: 290px;
  height: 100vh;
  background-color: #fff !important;
  padding: 20px 10px;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 20%);
}
.mobile_res_toggle_content.responsive_bar {
  transform: translatex(0%);
}
.mobile_res_toggle_content_cancle {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
}
.mobile_res_toggle_list_1 {
  display: flex;
  flex-direction: column;
}
.mobile_res_toggle_list_1 li {
  list-style: none;
  border-bottom: 1px solid #0000004a;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
ul.mobile_res_toggle_list_1 li a {
  color: #000 !important;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none !important;
}
.mobile_res_toggle_list_1 li:last-child {
  border-bottom: unset;
}
@media (max-width: 992px) {
  .header_toggle_content {
    display: block;
  }
  .header_link_list {
    display: none;
  }
  .header_btn {
    display: none;
  }
  .header_list figure {
    width: 205px;
  }
}
@media (max-width: 768px) {
  header {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    padding: 30px 10px 0px 10px;
  }
}

/* banner  css */

.banner_section {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 0px 10px 0px 10px;
}

.home_page_banner_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". .";
  width: 100%;
  align-items: center;
}
.home_page_banner_box.three_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". .";
    width: 100%;
    align-items: center;
    gap: 20px 30px;
  }
.home_page_banner_box_two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". .";
    width: 100%;
    align-items: center;
    gap: 20px 40px;
  }
.home_page_banner_box figure {
  width: 100%;
}
.home_page_banner_box figure img {
  width: 100%;
}
.home_page_banner_box_two figure {
    width: 100%;
  }
  .home_page_banner_box_two figure img {
    width: 100%;
  }

.home_page_banner_figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.home_page_banner_figcaption > h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 79px;
  color: #080808;
  padding-bottom: 8px;
  margin: 0px;
}
.home_page_banner_figcaption p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #080808;
  margin: 0px;
}

.home_page_banner_figcaption_two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }
  
  .home_page_banner_figcaption_two > h4 {
    font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 125%;
color: #2752E7;
    padding-bottom: 18px;
    margin: 0px;
  }
  .home_page_banner_figcaption_two ul > h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;

    color: #1E1E1E;
    padding-bottom: 10px;
    margin: 0px;
  }
  .home_page_banner_figcaption_two p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #626262;
    padding-bottom: 5px;
    margin: 0px;
  }
  .home_page_banner_figcaption_two ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
  }
  .home_page_banner_figcaption_two ul li{
padding-bottom: 10px;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 150%;
color: #1E1E1E;
  }
.banner_btn{
    display: flex;
    align-items: center;
  margin-top: 60px;
}
.banner_btn a{
    width: 199px;
height: 60px;
background: #2752E7;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #FFFFFF;
}
.banner_btn a:first-child{
    margin-right: 12px;
    border: 1px solid #CACACA;
    color: #A9A9A9;
    background-color: transparent;
}
.banner_btn_two{
    display: flex;
    align-items: center;
  margin-top: 60px;
}
.banner_btn_two a{

height: 60px;
background: #2752E7;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #FFFFFF;
padding: 0px 15px;
}
.banner_btn_two a:first-child{
    margin-right: 12px;
    border: 1px solid #CACACA;
    color: #A9A9A9;
    background-color: transparent;
}
.Banner_two {
    padding-top: 30px;
}
.Banner_4 {
    padding-top: 60px;
}
.banner_counter{
    display: flex;
    padding-bottom: 60px;
}
.banner_counter h3{
    display: flex;
    flex-direction: column;
    font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 36px;
color: #1E1E1E;
margin-right: 40px;
justify-content: flex-end;
}
.banner_counter h3 span{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
padding-top: 10px;
color: #1E1E1E;
}
.banner_counter h3:last-child{
    margin-right: 0px;
}
.banner_counter h3:last-child span{
    color: #A9A9A9;
}
.banner_detail_box {
    background: #FFFFFF;
    border: 1px solid #2752E7;
    border-radius: 10px;
    padding: 17px 30px;
    width: 100%;
}
.banner_coin_conversion{
    display: grid;
    width: 100%;
    gap: 18px;
    margin-bottom: 40px;
    position: relative; 
}
.banner_single_coin_tab_3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
    padding: 15px 17px;
}
.banner_single_coin_tab_3:first-child{
    border-bottom: 1px solid #2752E7;
}
.banner_single_coin_tab_3 h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #1E1E1E;
}
.banner_single_coin_tab_3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #1E1E1E;
}
.banner_single_coin_tab_3 a{
    width: 174px;
height: 50px;
border: 1px solid #000000;
border-radius: 10px;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;
color: #1E1E1E;
    display: flex;
    align-items: center;
justify-content: center;
}
.banner_listing_2{
    display: grid;
    width: 100%;
    gap: 32px;
}
.single_banner_listing_2{
    display: flex;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 32px;
}
.single_banner_listing_2 span{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: #2752E7;
}
.single_banner_listing_2_detail{
  display: flex;
    flex-direction: column;
    padding-left: 32px;
}
.single_banner_listing_2_detail h3{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    color: #2C3131;
    padding-bottom: 8px;
    text-align: left;
}
.single_banner_listing_2_detail p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
text-align: left;
    color: #626262;
    
}
@media (max-width: 1024px) {
  .home_page_banner_figcaption > h4 {
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 20px;
  }
  .banner_detail_box {
   
    padding: 17px 0px;

}
}
@media (max-width: 768px) {
  .home_page_banner_box {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }
  .home_page_banner_box.three_box {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }
  .home_page_banner_box figure {
    max-width: 540px;
    margin: 0 auto;
  }
  .home_page_banner_box_two {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }
  .home_page_banner_box_two figure {
    max-width: 540px;
    margin: 0 auto;
  }
  .home_page_banner_figcaption {
    align-items: center;
    text-align: center;
  }
  .single_banner_listing_2_detail h3{

    font-size: 24px;
  
}
.single_banner_listing_2_detail p{

    font-size: 16px; 
}
}
@media (max-width: 540px) {
  .home_page_banner_figcaption h4 {
    font-size: 24px;
    line-height: 36px;
  }
  .banner_btn {
    margin-top: 40px;
    flex-direction: column;
}
.banner_btn a:first-child {
    margin-right: 0px;
    margin-bottom: 10px;
}
.banner_btn_two {
    margin-top: 40px;
    flex-direction: column;
}
.banner_btn_two a:first-child {
    margin-right: 0px;
    margin-bottom: 10px;
}
.home_page_banner_figcaption_two > h4 {

    font-size: 24px;
}
.home_page_banner_figcaption_two p {
  
    font-size: 18px;
    line-height: 144%;

}
}

/* patners section css */

.partners{
    display: block;
    width: 100%;
    margin-bottom: 100px;
    padding: 40px 10px 0px 10px;
}
.patners_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px 160px;
    width: 100%;
    align-items: center;
}
.patners_list img{
    width: 100%;
}
@media(max-width:1500px){
    .patners_list{
    gap: 15px 80px;
}
.partners{
    margin-bottom: 80px;
    padding: 40px 10px 0px 10px;
}
}
@media(max-width:768px){
.patners_list {
    gap: 15px 40px;
    grid-template-columns: 1fr 1fr 1fr;
}
}
@media(max-width:540px){
    .patners_list {
        gap: 25px 40px;
        grid-template-columns: 1fr 1fr;
    }
    }

/* custom section css */

      .home_section_one {
        display: block;
        width: 100%;
        padding: 0px 15px 70px 15px;
      }
     
.home_section_one_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    flex-direction: column;
}
.home_section_one_heading small {
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 67px;
text-align: center;
color: #2752E7;
    margin: 0px;
}
.home_section_one_heading h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 67px;
    padding-bottom: 20px;
    color: #121318;
    margin: 0px;
}
.home_section_one_heading p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 211.43%;
    text-align: center;
    
    color: #121318;
}
      .home_section_one_box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: ". . .";
        gap: 25px 27px;
        width: 100%;
        height: 100%;
        align-items: center;
      }
      .home_section_one_single_box {
display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 20px;
    padding: 40px 18px;
      }

      .section_one_single_box_icon {
        display: flex;
        width: 100%;
        padding-bottom: 16px;
        justify-content: center;
        align-items: center;
      }
      .section_one_single_box_icon a {
      
        display: flex;

        align-items: center;
        justify-content: center;

      }
      .section_one_single_box_icon a img {
        width: 100%;
    }
      .section_one_single_box_heading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 16px;
      }
      .section_one_single_box_heading h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 125%;
         text-align: center; 
        color: #2C3131;
        margin: 0px;
      }
      .section_one_single_box_discription {
        display: flex;
      
        align-items: center;
        justify-content: center;
       width: 100%;
      }
      .section_one_single_box_discription p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #626262;
      }

      @media  (max-width: 1024px) {
        .home_section_one_box {
          grid-template-columns: 1fr 1fr;
          grid-template-areas: ". .";
        }
.home_section_one {
    padding: 0px 15px 40px 15px;
}
      }

      @media (max-width: 767px) {

      }
      @media (max-width: 540px) {
.home_section_one {
    padding: 0px 15px 30px 15px;
}
.home_section_one_heading h2 {
    font-size: 24px;
    line-height: 34px;
    
}

      }
      @media (max-width: 440px) {
        .home_section_one_box {
          grid-template-columns: 1fr;
          grid-template-areas: ".";
        }
      }
 /* newsletter css */
      .newsletter_custom_section {
        display: block;
        width: 100%;
        padding: 0px 15px;
        background: #F5F5F5;
        }
        .custom_container {
          max-width: 1140px;
          margin: 0px auto;
        }
        .newsletter_custom_box {
        padding: 40px 0px;
        display: grid;
        gap: 16px 20px;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-areas: ".";
        grid-template-rows: auto;
        text-align: center;
        max-width: 540px;
        margin: 0 auto;
        }
        .newsletter_custom_box h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 50px;
            line-height: 79px;
            color: #000;
        margin: 0px !important;
        text-align: center;
        }
        .newsletter_custom_box p{
            font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
padding-bottom: 30px;
color: #000;

        }
        .newsletter_custom_box form {
        width: 100%;
        position: relative;
        }
        
        
        .newsletter_form_fields_content{
        display: flex;
          align-items: flex-start;
          position: relative;
        }
        .newsletter_form_fields {
        width: 100%;
        display: grid;
        gap: 10px 0px;
        }
        .newsletter_form_fields_content input{
        background: #FFFFFF;
        box-shadow: 0px 4px 24px rgb(0 0 0 / 8%);
        border-radius: 4px;
        border: unset;
        display: flex;
        align-items: center;
        height: 48px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-transform: capitalize;
        color: #616161;
        padding: 5px 15px;
        margin: 0px;
        }
        
        .newsletter_form_fields_content input:focus-visible{
        outline: none !important;
        }
        .newsletter_form_fields_content input::placeholder{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-transform: capitalize;
        color: #616161;
        display: flex;
          align-items: center;
        }
        .newsletter_form_fields_content button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        max-width: 153px;
        width: 100%;
        background: #194E8C;
        border-radius: 4px;
        border: unset;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: 8px;
        }
        .newsletter_form_fields_content button i{
        display: none;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        }
        
        .newsletter_form_fields_content label.error{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #CC0000;
        text-align: left;
          margin: 0px !important;
        }
        .newsletter_form_fields_content button span.newsletter_submit_btn_text{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        }
        
        .newsletter_form_fields_content button:hover{
        color: #FFFFFF;
        }
        .newsletter_form_fields_content button:focus {
          outline: 0;
          box-shadow: unset !important;
        }
        
     
        @media (max-width:540px){
        
        .newsletter_form_fields_content button i{
        display: block;
        
        }
        .newsletter_form_fields_content button span.newsletter_submit_btn_text{
        display: none;
        }
        
        .newsletter_form_fields_content button {
        width: 80px;
        }
        
        }


/* farming page custom section css */

.coins_section {
  display: block;
  width: 100%;
  margin-bottom: 100px;
  padding: 0px 10px 0px 10px;
}
.coins_lsting {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  gap: 29px 29px;
  height: 100%;
}
.coins_lsting_two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    gap: 29px 29px;
    height: 100%;
  }
.single_coin {
  padding: 40px 29px 29px 29px;
  background: #fefeff;
  box-shadow: 35px 35px 121px rgba(146, 106, 120, 0.16);
  border-radius: 30px;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
.coin_header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 12px;
}
.coin_header > small {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125.93%;
  color: #636a7e;
}
.header_data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header_data span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125.93%;
  padding-bottom: 5px;
  color: #636a7e;
}
.header_data > small {
  width: 73px;
  height: 24px;
  background: #2752e7;
  box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 125.93%;
  color: #fbfafc;
}
.single_coin figure {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 36px;
}
.single_coin figure img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.single_coin figure figcaption {
  display: flex;
  flex-direction: column;
}
.single_coin figure figcaption small {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125.93%;
  color: #636a7e;
}
.single_coin figure figcaption span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125.93%;
  color: #009393;
  padding: 2px 0px;
}
.detail_listing {
  display: grid;
  width: 100%;
  gap: 18px;
  padding-bottom: 50px;
}
.detail_single_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.detail_single_list p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125.93%;
  color: #636a7e;
  margin: 0px;
}
.detail_single_list h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125.93%;
  color: #000000;
  margin: 0px;
}
.coins_lsting_btn {
  display: flex;
  width: 100%;
  padding-bottom: 35px;
}
.coins_lsting_btn a {
  background: #2752e7;
  border-radius: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff !important;
  text-decoration: none !important;
}
.coins_detail_btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.coins_detail_btn a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125.93%;
  color: #090a0b !important;
  text-decoration: none !important;
}
.coins_detail_btn i {
  background: #000000;
  margin-left: 8px;
  color: #fff;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .coins_section {
    margin-bottom: 50px;
  }
  .coins_lsting_two {
    grid-template-columns: 1fr 1fr;

  }
}
@media (max-width: 1140px) {
  .coins_lsting {
    grid-template-columns: 1fr 1fr;
    gap: 29px 29px;
  }
}
@media (max-width: 768px) {
  .coins_lsting {
    grid-template-columns: 1fr;
    gap: 20px 20px;
  }
  .coins_lsting_two {
    grid-template-columns: 1fr;
    gap: 20px 20px;
  }
}
@media(max-width:1500px){
.custom_container {
max-width: 1140px;

}
.coins_lsting {

gap: 15px 15px;

}
.single_coin {
padding: 30px 20px 30px 20px;

}
}


/* swap page custom section cs */
 
.coins_section_2{
    display: block;
       width: 100%;
       padding:102px 10px 82px 10px;
       background: #F4F4F6;
   }
   .coins_lsting_2{
      display: grid;
      max-width: 580px;
      margin: 0 auto;
       height: 100%;
   }
   .single_coin_2{
    padding:28px 34px 36px 34px;
    background: #FFFFFF;
border-radius: 8px;
display: flex;
width: 100%;
flex-direction: column;
height: 100%;   
}
.single_coin_4{
    padding:28px 34px 36px 34px;
    background: #FFFFFF;
    border: 1px solid #2752E7;
    border-radius: 8px;
display: flex;
width: 100%;
flex-direction: column;
height: 100%;   
}
.coin_header_2{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 29px;
}
.coin_header_2 > small{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 125.93%;
color: #636A7E;
}
.header_data_2{
display: flex;
align-items: center;
}
.header_data_2 > a{
  width: 137px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;
color: #000000;
border: 1px solid #000000;
border-radius: 10px;
}
.header_data_2 > a:first-child{
  background: #2752E7;
  border-color:#2752E7;
  color: #fff;
  margin-right: 24px;
}
.header_data_2 i{
  font-size: 18px;
color: #000000;
}

.detail_listing_2{
  display: grid;
  width: 100%;
  gap: 18px;
 padding-bottom: 50px;
}
.detail_single_list_2{
display: flex;
justify-content: space-between;
width: 100%;
align-items: center;
}
.detail_single_list_2.bg_color{
    background: #F4F4F6;
    border-radius: 8px;
    padding: 10px 20px;
}
.detail_single_list_2 p{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 125.93%;
color: #636A7E;
margin: 0px;
}
.detail_single_list_2 h6{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 125.93%;
color: #000000;
margin: 0px;
}
.coin_conversion{
  display: grid;
  width: 100%;
  gap: 18px;
  margin-bottom: 40px;
  position: relative;
}
.single_coin_tab{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #E4E4E4;
border-radius: 8px;
padding: 15px 17px;
}
.single_coin_tab h4{
  font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 36px;
color: #000000;
}
.single_coin_tab figure{
  display: flex;
  align-items: center;

}
.single_coin_tab figure img{
  width: 35px;
    height: 35px;
    background: #F4F4F6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 9px;
    object-fit: contain;
    margin-right: 16px;
}
.single_coin_tab figure figcaption{
  display: flex;
  flex-direction: column;

  align-items: flex-end;
}
.single_coin_tab figure figcaption span{
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 125.93%;
color: rgba(9, 10, 11, 0.5);
}
.single_coin_tab figure figcaption small{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 125.93%;
color: #000000;
padding-bottom: 2px;
}
a.shifter {
    position: absolute;
    z-index: 1;
    left: 45%;
    top: 39%;
    width: 54px;
    height: 39px;
    background: #000000;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
a.shifter i {
   
    transform: rotate(90deg);
    font-size: 16px;
}
.coins_lsting_btn_2{
  display: flex;
  width: 100%;
}
.coins_lsting_btn_2 a{
  background: #2752E7;
border-radius: 10px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #FFFFFF !important;
text-decoration: none !important;
}
.coins_detail_btn_2{
  display: flex;
  width: 100%;
 align-items: center;
 justify-content: center;
}
.coins_detail_btn_2 a{
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 125.93%;
color: #090A0B !important;
text-decoration: none !important;
}
.detail_single_list_des p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 125.93%;
    color: #090A0B;
}
@media(max-width:768px){
    .single_coin_4 {
        padding: 15px 20px 15px 20px;
    }
  .coins_section_2 {
    padding: 50px 10px 50px 10px;
}
.single_coin_2 {
    padding: 25px 20px 25px 20px;
}
.single_coin_tab h4 {

    font-size: 18px;
  }
}
@media(max-width:540px){
  a.shifter {

    top: 43%;
  }

.single_coin_tab {


  padding: 25px 17px;

    flex-direction: column;
}
.detail_single_list_des p {
   
    font-size: 14px;

}
.detail_single_list_2 p{
  font-size: 14px;
}
.detail_single_list_2 h6 {
  font-size: 14px;
}
.header_data_2 {
    flex-direction: column;
}
.header_data_2 > a:first-child {
    margin-right: 0px;
    margin-bottom: 20px;
}
}

/* liquidity page custom section css */

.coins_section_3{
    display: block;
       width: 100%;
       padding:102px 10px 82px 10px;
       background: #F4F4F6;
   }
   .coins_lsting_3{
      display: grid;
      max-width: 580px;
      margin: 0 auto;
       height: 100%;
   }
   .single_coin_3{
    padding:28px 34px 36px 34px;
    background: #FFFFFF;
border-radius: 8px;
display: flex;
width: 100%;
flex-direction: column;
height: 100%;   
}
.coin_header_3{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 29px;
}
.coin_header_3 > small{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 125.93%;
color: #636A7E;
}
.header_data_3{
display: flex;
align-items: center;
}
.header_data_3 > a{
  width: 137px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;
color: #fff;
border: 1px solid #2752E7;
border-radius: 10px;
background: #2752E7;
 
}
.header_data_3 > a:first-child{
background: transparent;
border-color:#000;
  color: #000;
  margin-right: 24px;
}
.header_data_3 span{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;
color: #000000;

}

.detail_listing_3{
  display: grid;
  width: 100%;
  gap: 18px;
 padding-bottom: 50px;
}
.detail_single_list_3{
display: flex;
justify-content: space-between;
width: 100%;
align-items: center;
}
.detail_single_list_3 p{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 125.93%;
color: #636A7E;
margin: 0px;
}
.detail_single_list_3 h6{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 125.93%;
color: #000000;
margin: 0px;
display: flex;
align-items: center;
}
.detail_single_list_3 h6 img{
  width: 35px;
    height: 35px;
    background: #F4F4F6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 9px;
    object-fit: contain;
    margin-left: 16px;
}
.coin_conversion{
  display: grid;
  width: 100%;
  gap: 18px;
  margin-bottom: 40px;
  position: relative;
}
.single_coin_tab_3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 8px;
    padding: 15px 17px;
}
.single_coin_tab_3 h4{
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 125.93%;
color: #1E1E1E;
display: flex;
align-items: center;
}
.single_coin_tab_3 i {
  background: #000000;
    color: #fff;
    border-radius: 50%;
    margin-left: 6px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single_coin_tab_3 h4 i {
  background: #000000;
    color: #fff;
    border-radius: 50%;
    margin-left: 6px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single_coin_tab_3 figure{
  display: flex;
  align-items: center;

}
.single_coin_tab_3 figure img{
  width: 35px;
    height: 35px;
    background: #F4F4F6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 9px;
    object-fit: contain;
    margin-right: 16px;
}

.single_coin_tab_3 figure span{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 125.93%;
color: #38393A;
}


.coins_lsting_btn_3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 100%;
}
.coins_lsting_btn_3 a{
border-radius: 10px;
height: 49px;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #000 !important;
text-decoration: none !important;
border: 1px solid #000000;
}
.coins_lsting_btn_3 a:last-child{
  background: #2752E7;
  color: #fff !important;
  border-color: #2752E7;
}
.coins_detail_btn_3{
  display: flex;
  width: 100%;
 align-items: center;
 justify-content: center;
}
.coins_detail_btn_3 a{
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 125.93%;
color: #090A0B !important;
text-decoration: none !important;
}

@media(max-width:768px){
  .coins_section_3 {
    padding: 50px 10px 50px 10px;
}
.single_coin_3 {
    padding: 25px 20px 25px 20px;
}
.single_coin_tab_3 h4 {

  text-align: center;
    font-size: 18px;
  }
}
@media(max-width:540px){
  .single_coin_tab_3 i{
    margin-left: 0px;
    margin-top: 5px;
  }

.single_coin_tab_3 {


  padding: 25px 17px;

    flex-direction: column;
}
.single_coin_tab_3 figure {
    margin-bottom: 5px;
}
.detail_single_list_3 p{
  font-size: 14px;
}
.detail_single_list_3 h6 {
  font-size: 14px;
}
.header_data_3 {
    flex-direction: column;
}
.header_data_3 > a:first-child {
    margin-right: 0px;
    margin-bottom: 20px;
}
}


/* footer css */


.footer-section {
    float: left;
    width: 100%;
    padding: 50px 10px;
  }

  .footer-data-box {
    display: grid;
width: 100%;
grid-template-columns: 1.9fr 1fr 1fr 1fr 2.9fr;
grid-template-rows: auto;

gap: 30px 20px;
  }
  .footer-detail-box-one {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer-detail-box-one figure {
    margin: 0px !important;
    width: 230px !important;
    padding-bottom: 42px;
  }

  .footer-detail-box-one figure img {
    width: 100%;
  }
  .footer-detail-box-one p {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #626262;
    text-align: left;
    padding-bottom: 24px;
  }
  .footer-socail-links {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  .footer-socail-links a {
    background: #626262;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    margin-right: 10px;
  }
  .footer-socail-links a:last-child {
    margin-right: 0px;
  }
  .footer-socail-links a i {
    color: #ffffff;
    font-size: 16px;
  }

  .footer-detail-box-two {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  .footer-detail-box-content-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
  }
  .footer-detail-box-content-list li {
    list-style: none;
    display: flex;
    align-items: center;
    padding-bottom:10px;
  }
  .footer-detail-box-content-list li:last-child {
    padding-bottom: 0px;
  }
  .footer-detail-box-content-list li a {
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 145%;
color: #2C3131;
    text-decoration: none;
  }
  .footer-detail-box-content-list li a:hover {
    color: #2C3131;
  }
  li.footer-hours-list {
justify-content: space-between !important;
}
.footer-detail-box-content-list li a {
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 145%;
color: #2C3131;
}

.footer_last_field_main{
border: 1px solid #000000;
border-radius: 8px;
padding: 20px 26px;
display: grid;
grid-template-columns: 1fr 1.3fr;
}
.footer_last_field{
display: flex;
flex-direction: column;
}
.footer_last_field span{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 145%;
color: #2C3131;
padding-bottom: 10px;
}
.footer_last_field h5{
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 145%;
color: #1E1E1E;
padding-bottom: 14px;
}
.footer_last_field > a{
width: 137px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
background: #2752E7;
border-radius: 10px;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;

color: #FFFFFF;

}
.copy_right_footer{
display: block;
width: 100%;

}
.copy_right_footer_data{
border-top: 1px solid #CFD1D4;
display: flex;
width: 100%;
padding: 30px 10px;
justify-content: center;
text-align: center;
}
.copy_right_footer_data p{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;

color: #A0A3A9;

}
@media (max-width: 1140px) {
.footer-data-box {
grid-template-columns: 2.5fr 1fr 1fr 1fr;

}
}
  @media (max-width: 1024px) {
    .footer-data-box {
grid-template-columns: 3fr 1fr;
}
  }
  @media (max-width: 768px) {
    .footer-data-box {
grid-template-columns: 1fr;
}
.footer-detail-box-content-list li {
text-align: center;
justify-content: center;
}
.footer_last_field_main {
grid-template-columns: 1fr;
}
.footer-detail-box-one {
      justify-content: center;
      align-items: center;
    }
    .footer-detail-box-one p {
      padding-right: 0px;
      text-align: center;
    }

    .footer-detail-box-content-list {
      padding-top: 15px !important;
    }
    .footer-socail-links {
      justify-content: center;
      align-items: center;
    }

  }
