.conditions{
    display: flex;
    flex-direction: column;
    gap: 5px 0px;
    align-items: center;
    width: 100%;
}
.conditions span{
    font-size: 14px;
    color: #232323;
    font-weight: normal;
}